* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  background-color: rgb(0, 0, 0);
  box-sizing: border-box;
}

.header {
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: rgb(10, 28, 45);
  justify-content: space-between;
  padding: 29px 35px;
}
.header .page-title {
  color: #ffffff;
  font-family: "IBM Plex Serif", serif;
  font-size: 26px;
  font-weight: 300;
  letter-spacing: 1.5px;
}

.button {
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}
.button .button:hover {
  background-color: #f1f1f1;
}

.button-D {
  background-color: #a80000;
  color: #ffffff;
  border-radius: 25px;
  border: None;
  font-size: 18px;
  padding: 10px 35px;
  margin: 5px;
  cursor: pointer;
}

.button-N {
  background-color: #b355b7;
  color: #ffffff;
  border-radius: 25px;
  border: None;
  font-size: 18px;
  padding: 10px 35px;
  margin: 5px;
  cursor: pointer;
}

.formcontainer {
  position: absolute;
  display: none;
  background-color: rgb(0, 0, 0);
  top: 0%;
  right: 0%;
  z-index: 1;
}

.form-items {
  display: flex;
  flex-direction: column;
  z-index: 0;
  right: 0;
  top: 0;
  padding: 45px;
  background-color: #000000;
  transition: 0.5s ease-in-out;
}

.form-des {
  font-size: 25px;
  color: rgb(255, 255, 255);
}

.close-button {
  display: flex;
  justify-content: space-between;
  flex-grow: 0;
  background: #041d2e;
  color: #ffffff;
  font-weight: 700;
  padding: 15px 20px;
  margin-top: 10px;
}
.close-button i {
  padding: 3px;
  cursor: pointer;
}

.form {
  display: flex;
  flex-direction: column;
}
.form input {
  border: none;
  background-color: rgb(0, 0, 0);
}
.form .note-title {
  width: 100%;
  color: #ffffff;
  background-color: #000000;
  border: none;
  font-family: "Lato", sans-serif;
  font-size: 25px;
  font-weight: 300;
  line-height: 1.5;
  outline: none;
  padding: 5px;
}
.form .image {
  width: 100%;
  color: #ffffff;
  background-color: #000000;
  border: none;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
  outline: none;
  padding: 5px;
}
.form .textcontent {
  display: inline-block;
  width: 100%;
  padding: 1px;
  font-size: 30px;
  color: white;
  background-color: #000000;
  border: 1px solid #000000;
  resize: none;
  height: 500px;
  margin-bottom: 10%;
}

.form-submit {
  display: flex;
  flex-direction: row;
}

.form-end {
  position: absolute;
  bottom: 2%;
  left: 15%;
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.choose-color {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.choose-color .color {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
}
.choose-color .color i {
  display: none;
}
.choose-color .color1 {
  background-color: #ebcced;
}
.choose-color .color2 {
  background-color: #fcfcfc;
}
.choose-color .color3 {
  background-color: #ffca71;
}
.choose-color .color4 {
  background-color: #e5ee91;
}
.choose-color .color5 {
  background-color: #ffa78c;
}

.fa-solid {
  position: relative;
  font-size: 25px;
  top: 25%;
  left: 20%;
  transform: translateY(-50%);
  color: black;
}

.error-message {
  color: white;
}

.button-ADD {
  border: none;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 16px;
  background-color: rgb(167, 90, 178);
}

section {
  width: 100%;
}

.cards-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  margin: 2% auto;
}
.cards-container .cardLink {
  text-decoration: none;
  border-radius: 5px;
  width: 310px;
  margin: 20px;
  padding: 25px;
  overflow: hidden;
  cursor: pointer;
}
.cards-container .cardLink .card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.cards-container .cardLink a {
  text-decoration: none;
}
.cards-container .cardLink .notes-title {
  font-size: 28px;
  color: black;
}
.cards-container .cardLink .notes-date {
  color: black;
}
.cards-container .cardLink .image-container {
  width: 100%;
  border-radius: 2%;
}
.cards-container .cardLink .image-container img {
  border-radius: 10px;
  width: 100%;
  max-height: 100%;
}
.cards-container .cardLink .card-content {
  margin-top: 20px;
  line-height: 1.5;
  text-overflow: ellipsis;
  overflow: hidden;
  color: black;
}

.button-LM {
  position: absolute;
  display: none;
  margin-top: 2%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  color: white;
  font-size: 18px;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 16px;
  background-color: rgb(167, 90, 178);
}

.deleteAllBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 999999;
  position: fixed;
  display: none;
  width: 35%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 15px 15px 20px 15px;
  background-color: #000000;
}

.deleteAll {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 3%;
}

.close-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(10, 28, 45);
  padding: 8px;
}
.close-box i {
  cursor: pointer;
}

.confrim {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.confirm-message {
  color: white;
  padding: 15px;
}

.button-DeleteAll {
  background-color: #b355b7;
  color: #ffffff;
  border-radius: 25px;
  border: None;
  font-size: 18px;
  padding: 10px 35px;
  margin: 5px;
  cursor: pointer;
}

.onLoadElement {
  position: absolute;
  background-color: black;
  top: 40%;
  left: 50%;
  align-items: center;
  display: block;
  transform: translate(-50%, -50%);
}
.onLoadElement p {
  margin-top: 4%;
  color: white;
  font-size: 30px;
  color: rgb(178, 178, 178);
}

.page-title {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.page-title .arrow {
  color: white;
  font-size: 40px;
  padding-top: 10px;
}

.full-content {
  width: 60%;
  margin: 2% auto;
  display: flex;
  gap: 10px;
  flex-direction: row;
  flex-grow: inherit;
}
.full-content .theme-icon {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.full-content .fulldetail-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.full-content .fulldetail-section .fulldetail-notes-title {
  font-size: 30px;
  color: white;
}
.full-content .fulldetail-section .fulldetail-notes-date {
  font-size: 15px;
  color: white;
}
.full-content .fulldetail-section .fulldetail-image-container {
  width: 100%;
}
.full-content .fulldetail-section .fulldetail-image-container img {
  width: 90%;
  height: 90%;
  border-radius: 3%;
}
.full-content .fulldetail-section .fulldetail-card-content {
  margin-top: -3%;
  font-size: 15px;
  color: white;
}

/*# sourceMappingURL=index.css.map */
