//colors
$header-background:rgb(10,28,45);
$header-font-color:rgb(255,255,255);
$button-delete-color:rgb(154,30,20);
$button-new-color:rgb(167,90,178);
$button-LM-color:rgb(167, 90, 178);
$body-background-color:rgb(0,0,0);
$font-family-1 :'Lato', sans-serif;
$font-family-2 :'IBM Plex Sans', sans-serif ;

// colors for cards
$card-colors: (
    "card-color-1":#ebcced,
    "card-color-2":#fcfcfc,
    "card-color-3":#ffca71,
    "card-color-4":#e5ee91,
    "card-color-5":#ffa78c,
);