/*|| Body */
body {
  margin: 0;
  font-family: "Roboto ", sans-serif;
}

/*|| Header */
header {
  width: 100%;
  padding: 13px;
  background-color: rgb(45, 94, 144);
}
/*|| Header Title */
#title {
  margin: 0;
  text-align: center;
  padding: 18px;
  color: white;
  font-size: 20px;
  font-weight: 500;
}
/*|| Main Container */
.main {
  max-width: 84.3%;
  margin: 0 auto 38px;
}
/*|| Left Container */
.left {
  float: left;
  width: 61.5%;
}

/*|| Left Container */
.right {
  float: left;
  width: 38.5%;
}

/*|| Container Head */
h2 {
 
  margin: 0;
}

.newschannel{
  border: 1px solid rgb(45, 94, 144);
  margin: 10px 19px 19px;
}
.channelname {
  background-color: rgb(45, 94, 144);
  padding: 10px 5px 10px 20px;
  color: white;
}
.channeldescription {
  font-size: 18px;
  line-height: 1.5;
  padding: 18px;
  margin: 0%;
  text-align: justify;
  background-color: rgb(246, 246, 246);
}

